/* Here we can set styles for this lab page that we don't want to effect others pages */

/* the period in a CSS selector selects an element by class, e.g., class="minor-section" */
.minor-section {
    padding: 10px;
    margin-bottom: 10px;
    border: solid 1px orangered;
    background-color: hwb(48 15% 9%);
  }

  #content{
    font-family: "Times New Roman"
  }
  #content h2{
    font-family:"Times New Roman"
  }

  #content{
    background-color: peachpuff;
  }
  #content h1{
    font-family: "Times New Roman";
  }