.minor-section {
    padding: 10px;
    margin-bottom: 10px;
    border: solid 1px wheat;
    background-color: darkolivegreen;
  }
#content {
  background-color: darkolivegreen;
}
.minor-section h2{
  font-family: 'Times New Roman';
}